.products-chart-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    height: 90%;
}

.products-chart-container canvas {
    width: 100% !important;
    height: auto !important;
}

.products-chart-container h2 {
    padding: 10px 0;
    text-align: center;
}

.charts-section {
    display: flex;          
    flex-wrap: wrap;    
    gap: 20px;          
    width: 100%;
}

.chart-container {
    flex: 1; 
    min-width: 300px; 
    max-width: 70%; 
    transition: transform 0.3s ease; 
}

.chart-container:hover {
    transform: scale(1.2);
    z-index: 20;
}

.fullscreen-chart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background: rgba(0, 0, 0, 0.8); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
    overflow: hidden; 
    transition: opacity 0.3s ease;
}

.fullscreen-chart .chart-container {
    width: 70vw; 
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
    position: relative;
    box-sizing: border-box; 
}

body.fullscreen-active {
    overflow: hidden; 
}

.fullscreen-chart .chart-container:hover {
    transform: none; 
    cursor: default;
}

.wrapper {
    display: flex;
}