.invoice-details-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: rgba(25, 121, 30, 0.451);
    padding: 20px;
    border-radius: 25px;
    align-items: center;
}

.invoice-details-inner {
    display: flex;
    gap: 20px;
    width: 100%;
}

.invoice-items-list {
    margin-top: 25px;
    width: 100%;
}

.owner-details,
.invoice-details {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.owner-details img {
    border-radius: 50%;
    width: 15vw;
    height: auto;
    margin: 0 40px 0 20px;
}

.invoice-details h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}

.invoice-details p {
    margin: 10px 0;
}

.description-field {
    margin-bottom: 5px;
}

.description-field strong {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
}

.description-field p {
    display: inline-block;
}
